@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   font-family: "Epilogue", sans-serif;
}
h1{
   text-align: center;
   font-size: 36px;
}
header{
   background-color: #180081;
   color: aliceblue;
   padding: 20px;
   margin-bottom: 5px;
}
main{
   flex-grow: 1;
   background-color: #28293E;
}
[class*="__container"] {
   max-width: 1200px;
   margin-inline: auto;
   padding-inline: 15px;
}
.portfolio__blue{
   color: #fff;
   padding-top: 92px;
   margin-bottom: 192px;
}
.portfolio__label {
   color: #EF6D58;
text-align: center;
line-height: 200%;
letter-spacing: 3px;
text-transform: uppercase;
margin-bottom: 20px;
}

.portfolio__title {
text-align: center;
font-size: 56px;
font-weight: 800;
line-height: 114.286%;
letter-spacing: -1px;
margin-bottom: 36px;
}
.portfolio__list{
   display: flex;
   justify-content: center;
   gap: 60px;
   flex-wrap: wrap;
}
.portfolio__link{
   color: gray;
line-height: 200%;
transition: 0.3s;
}
.portfolio__link:hover{
color: white;
}
.portfolio__nav--color-blue{
margin-bottom: 68px;
}
.portfolio__select{
   display: none;
}
.portfolio__cards--blue {
   display: grid;
   grid-template-columns: 0.4234fr 0.1532fr 0.4234fr;
   gap: 30px;
   grid-template-rows: 416px;
   grid-auto-rows: 416px;
   margin-bottom: 64px;
}
@media (min-width: 955px){
.portfolio__card--blue:nth-child(4n+2),
.portfolio__card--blue:nth-child(4n+3){
   grid-column: span 2;
}
}
.portfolio__card {
   display: flex;
   position: relative;

}
.portfolio__card::before{
   content: "";
   border-radius: 6px;
   opacity: 0.3181;
   background: #5C2000;
   position: absolute;
   width: 100%;
   height: 100%;
   transition: 1s;
}
.portfolio__card:hover::before{
   opacity: 0.1181;

}
.portfolio__img{
border-radius: 6px;
object-fit: cover;
width: 100%;
}
.portfolio__content {
   position: absolute;
   bottom: 51px;
   left: 48px;
}
.portfolio__content a{
   border-radius: 19px;
background: #FFF;
color: #391400;
line-height: 200%;
padding: 5px 15px 1px 16px;
margin-bottom: 23px;
display: inline-block;
transition: 0.6s;
}
.portfolio__content p{
   color: #FFF;
   font-size: 40px;
   font-weight: 800;
   line-height: 120%;
}
.portfolio__card:hover .portfolio__content a{
   transform: scale(2) translate(20px, -10px);
}
@media (max-width: 954px){
   .portfolio__cards--blue {
   grid-template-columns: 1fr 1fr;
}
}
@media (max-width: 680px){
   .portfolio__cards--blue {
   grid-template-columns: 1fr;
}
.portfolio__content {
   left: 28px;
}
.portfolio__select{
   display: block;
   width: 329px;
   height: 48px;
   margin-inline: auto;
   color: gray;
   border-radius: 6px;
}
.portfolio__select--color-blue{
   margin-bottom: 48px;
}
.portfolio__title{
   margin-bottom: 35px;
   font-size: 40px;
}
.portfolio__list{
   display: none;
}
.portfolio__label{
   margin-bottom: 17px;
}
.portfolio__nav{
   display: none;
}
}
.portfolio__button a{
   padding: 16px 30px;
   border-radius: 6px;
   border: 1px solid gray;
   font-size: 14px;
   font-weight: 900;
   text-transform: uppercase;
   transition: 0.6s;
}
.portfolio__button a:hover{
   background-color: #fff;
   color: #28293e;
}
.portfolio__button{
   text-align: center;
}

.portfolio__sweet{
   background: #FDF0E9;
   padding-top: 32px;
}
.portfolio__list--color-sweet a{
   color: darkgray;
}
.portfolio__link--color-sweet:hover{
   color: #391400;
}
.portfolio__list--color-sweet{
   margin-bottom: 68px;
   padding-top: 68px;
}
.portfolio__cards--grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 30px;
   grid-template-rows: 720px;
   grid-auto-rows: 416px;
   margin-bottom: 80px;
}
@media (min-width: 680px){
.portfolio__card--grid:nth-child(1){
grid-column: span 2;
}
}
.portfolio__select--margin{
margin-bottom: 48px;
}
@media (max-width: 679px){
   .portfolio__cards--grid{
      grid-template-columns: 1fr;
      gap: 0px;
      row-gap: 30px;
      grid-template-rows: 416px;
   }
}
.portfolio__pins{
   text-align: center;
   padding-bottom: 112px;
}
.portfolio__pin{
   width: 48px;
   height: 48px;
   border-radius: 6px;
background: #FFF;
box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
color: #391400;
text-align: center;
font-size: 14px;
font-weight: 900;
text-transform: uppercase;
padding-top: 18px;
padding-bottom: 16px;
margin-right: 8px;
transition: 0.3s;
}
.portfolio__pin--active{
   background: #EF6D58;
   color: #FFF;
}
.portfolio__pin:hover{
   background: #EF6D58;
   color: #FFF;
}


