@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,700italic&display=swap");
.wrapper {
   min-height: 100%;
   overflow: hidden;
   font-family: "Open Sans", Arial, sans-serif;
   font-size: 16px;
   font-weight: 700;
   background-color: black;
   color: aliceblue;
}
.conteiner {
   max-width: 95%;
   margin-inline: auto;
   background-color: #201b1b;
   margin-bottom: 15px;
   text-align: center;
}
.title {
   font-size: 36px;
   text-align: center;
   padding: 15px;
   margin-bottom: 15px;
   background-color: #5c5c5c;
}
.item {
   font-size: 0px;
}
.items {
   display: inline-block;
width: 31%;
margin: 1%;
}
.content a{
   width: 100%;
   background-color: rgb(44, 44, 44);
border: 1px solid white;
border-radius: 7px;
padding: 10px 20px;
font-size: 16px;
}
.hover:hover {
   background-color: aliceblue;
   color: black;
}
.active:active {
   color: rgb(0, 250, 104);
   background-color: #000000;
}
.visited:visited {
   color: rgb(255, 193, 193);
   background-color: #3d1414;
}
.focus:focus {
   border: 1px dotted red;
}
.target-2 {
   display: none;
}
.target-2:target {
   display: block;
}
.test {
   max-width: 95%;
   margin-inline: auto;
   background-color: #201b1b;
   font-size: 0px;
   padding: 15px;
   margin-bottom: 15px;
}
.test a{
   min-width: 24.3%;
background-color: #5c5c5c;
border-radius: 7px;
border: 1px solid white;
padding: 10px 20px;
font-size: 16px;
text-align: center;
}
.test p:first-child{
   color: aqua;
}
.test p{
   padding: 10px;
   font-size: 14px;
   text-align: center;
}
.test a:first-of-type {
   color: #3d1414;
}
.test p:last-child {
   color: aquamarine;
}
.test a:last-of-type {
   color: bisque;
}
.test a:nth-child(odd) {
background-color: rgb(22, 20, 20);
}
.test a:nth-child(even) {
   background-color: #535353;
}
.test a:nth-child(3) {
   background-color: #704a4a;
}
.test a:not(:nth-child(4)) {
font-weight: 400;
}
.test a:not(:last-child) {
   margin-bottom: 15px;
}
.test a:not(:nth-child(4n+5)) {
   margin-right: 15px;
}
.test:has(p) {
   background-color: #352828;
}
.text-2{
   max-width: 95%;
   margin-inline: auto;
   background-color: #5e4545;
   padding: 15px;
   margin-bottom: 15px;
}
.text-2::before {
   content: "цього нема в HTML - початок";
   background-color: #000000;
   padding: 5px;
   margin-bottom: 5px;
}
.text-2::after{
   content: "цього нема в HTML - кінець";
   background-color: #000000;
   padding: 5px;
margin-top: 5px;
}
.list {
   text-align: center;
   padding: 15px;
   margin-bottom: 15px;
   background-color: #352828;
   max-width: 50%;
   margin-inline: auto;
   margin-bottom: 15px;
}
.list li {
   background-color: #493535;
   padding: 5px;
}
.list li:not(:last-child) {
margin-bottom: 10px;
}
li::before {
   background: #6e5151;
   content: "";
   width: 10px;
   height: 10px;
   display: inline-block;
   margin-right: 15px;
}
.item-list{
   background-color: #ffbebe;
   color: #1800f5;
   display: block;
   text-align: center;
   max-width: 50%;
   margin-inline: auto;
   border: #1800f5 1px solid;
   padding: 5px;
}
.item-list:hover{
   background-color: #d89f9f;
   color: #0e008d;
   border: #1401c7 1px dashed;
   padding: 5px;
}
